<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>pomelo API</title>
    <meta http-equiv='content-type' content='text/html' />
    <meta http-equiv='content-style-type' content='text/css' />
    <meta http-equiv='content-script-type' content='text/javascript' />
    <meta name='author' content='netease' />
    <meta name='version' content='1.0' />
    <meta name='keywords' content='' />
    <meta name='description' content='' />

    <link type='text/css' rel='stylesheet' href='css/base.css'>
    <link type='text/css' rel='stylesheet' href='css/api.css'>

    <script>
      var raw = {{{raw}}}
    </script>
    <!-- Array，String，Object扩展函数（因为IE9-不支持，而Lunr有使用到) -->
    <script src='js/extend.js'></script>
    <!-- 将原来引用网上的jquery转为引用本地的 -->
    <script src='js/jquery-1.6.4-min.js'></script>
    <!-- 将Lunr和页面逻辑整合一起放在lunr.js文件 -->
    <script src='js/lunr.js'></script>
  </head>
  <body>
    <!-- 顶栏 -->
    <div class="g-bar">
      <!-- 顶栏github模块 -->
      <div class="m-github">
          <span class="title">gitHub:</span><a class="link" target="_blank" href="#">http://github.com/NetEase/pomelo</a>
      </div>
    </div>
    <!-- 头部 -->
    <div class="g-hd">
      <div class="m-hdnav">
      		<div class="bg">
         	<div class="wrap">
          		<ul class="cnt">
          		  <li><a href="index.html">Home</a></li>
        		    <li class="current"><a href="page.html">API</a></li>
        		 	  <li><a href="#">Reference</a></li>
          		 	<li><a href="#">Guide</a></li>
          		  <li><a href="#">Applications</a></li>
            		<li><a href="#">community</a></li>
          		  <li><a href="#" class="last">FAQ</a></li>
          		</ul>	
         	 	</div>
          </div>
          <div class="logo"><a href="#"><div class="img"></div></a></div>
      </div>
    </div>
    <!-- 整体居中 -->
    <div class="g-doc">
      <!-- 主体 -->
      <div class="g-bd">
        <!-- API主体 -->
        <div class="m-wrap">
          <!-- API -->
          <div class='main'>
            <div class='maintt'>
              <h1>{{library_name}}<span class='version'>{{version}}</span></h1>
            </div>
      
            {{#modules}}
              <div class='cls' id='{{name}}'>
                <div class='clstt'>
                  <h2>{{name}}</h2>
                </div>
      
                <div class='clsdes'>
                  {{{full_description}}}
                </div>
      
                {{#methods}}
                  <div class='method' id='{{name}}'>
                    <div class='methodtt'>
                      <h3>{{name}}</h3>
                      <h4>{{signiture}}</h4>
                      <p class='type'>type: {{type}}</p>
                    </div>
      
                    <div class='params'>
                      {{#has_params}}
                        <h4>Params</h4>
                      {{/has_params}}
                      <ul>
                        {{#params}}
                          <li>{{name}} - {{description}}</li>
                        {{/params}}
                      </ul>
                    </div>
      
                    {{#return}}
                      <div class='params'>
                        <h4>Returns</h4>
                        <p>{{name}} - {{description}}</p>
                      </div>
                    {{/return}}
      
                    <div>
                      {{{full_description}}}
                    </div>
      
                    <div class='source'>
                      <h4>Source</h4>
                      <pre><code>{{code}}</code></pre>
                    </div>
                    
                  </div>
                {{/methods}}
              </div>
            {{/modules}}
          </div>
          <!-- API导航 -->
          <div class='side'>
            <div class='m-nav'>
              <div class='m-search'>
                <input type="text" id="search-input" placeholder="Search"></input>
                <div id="search-results"></div>
              </div>
              <ul>
                {{#modules}}
                  <li>
                    <h3><a target='{{name}}' class='cap'>{{name}}</a></h3>
                    <ul>
                      {{#methods}}
                        <li><a target='{{name}}'>{{name}}</a></li>
                      {{/methods}}
                    </ul>
                  </li>
                {{/modules}}
              </ul>
            </div>
          </div>
        </div>
        <!-- page四列模块 -->
        <div class="m-4col">
          <div class="col">
            <h2>About</h2>
            <p>Place your blog information here. This is the "Bottom Column 1" widget area. There are 4 bottom cloumn areas. You can drag and drag widgets to any of these 4 column. As these footer columns use "Smart Columns", they'll automatically resize beautifully no matter if you use 1,2,3 or 4 columns.</p>
          </div>
          <div class="col">
            <h2>blogroll</h2>
            <p><a href="#">Documentation</a></p>
            <p><a href="#">Plugins</a></p>
            <p><a href="#">Suggest Ideas</a></p>
            <p><a href="#">Support Forum</a></p>
            <p><a href="#">Themes</a></p>
            <p><a href="#">WordPress Blog</a></p>
            <p><a href="#">WordPress Planet</a></p>
          </div>
          <div class="col">
            <h2>Recent Posts</h2>
            <p><a href="#">Praesent mollis mauris eget</a></p>
            <p><a href="#">Phasellus et tellus nisl</a></p>
            <p><a href="#">Donec nibh sapien</a></p>
            <p><a href="#">Hello world!</a></p>
          </div>
          <div class="col last">
            <h2>Meta</h2>
            <p><a href="#">Login</a></p>
            <p><a href="#">Entries RSS</a></p>
            <p><a href="#">comments RSS</a></p>
            <p><a href="#">WordPress.org</a></p>
            <p>I'm using <a href="#">AdRotate</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- 尾部 -->
    <div class="g-ft">
      <!-- 尾部模块 -->
      <div class="m-ft">
          Pomelo by Netease, Inc. Rleased under the MIT license -Copyright © Netease 2012
      </div>
    </div>
    <!-- 向上图标 -->
    <div class='m-arrow f-dn'><a href="#"></a></div>
    <!-- 代码高亮模块 -->
    <script src='js/hijs.js'></script>
    <!-- 页面效果模块 -->
    <script src='js/api.js'></script>
  </body>
</html>

